.usuario-info {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background: #fffefe8c;
    border: 2px solid #6c5ce7;
    border-radius: 25px;
}
 
.usuario-info h1 {
    font-size: 32px;

    margin: 2px;

}

#oi1{
    float:left;
    padding: 10px 80px;

}

#oi2{
    float:center;
    padding: 10px 80px;
    margin: 0px 5px;

}

#oi3{
    float: right;
    padding: 10px 80px;

}

#oi4{
    display: flex;
    margin: 20px 10px 10px 10px;
}

